<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Camara
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <h1>{{device.manufacturer}}</h1>
        <h2 *ngIf="infoDevice">Version: {{infoDevice}}</h2>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-button primary (click)="openCamera()" size="large">Abrir camara</ion-button>
        <img *ngIf="base64Image" [src]="base64Image" alt="">
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-button primary (click)="openCameraBarcode()" size="large">Abrir camara Barcode</ion-button>
        <p *ngIf="dataBarcode">
          {{dataBarcode}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>